
*{
	box-sizing: border-box;
	margin:0px;
	padding: 0px;
}
h1{
border: 1px solid red;
color: red;
font-size: 36px;
text-align: center;
}
div.headerimg{
    max-width: 100%;
    height : 600px;
	background-image: url('img/image1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachmen t: fixed;
	padding: 100px
	border: 1px solid red;
	-webkit-box-shadow: inset 0px -2px 85px 16px rgba(221,240,233,0.59);
    -moz-box-shadow: inset 0px -2px 85px 16px rgba(221,240,233,0.59);
     box-shadow: inset 0px -2px 85px 16px rgba(221,240,233,0.59);

 }
 div.top_strip{         
 	position: sticky;
 	top:0px;
 	display: block;
 	background-color: #1E90FF;
 	height: 50px;
 	borde r: 1px solid black;
 }
 ul.nav{
 	position: absolute;
 	top:10px;
 	right: 0;
 	display: inline-block;
 	list-style-type: none;
 	borde r: 1px solid black;
 	padding: 1px;
 	positio n: sticky;
 }
 .nav > li{
 	borde r: 2px solid green;
 	border-radius: 10px;
 	display: inline;
 	margin: 10px;
 	padding: 5px;
 	color: white;
 	background-color: red;
 }
 p.side1{
 	position: absolute;
 	position: fixed;
 	top:100px;
 	padding: 10px;
 	border-radius: 10px;
 	background-color: red;
 	color:white;
 writing-mode: vertical-rl; 
}

a:link {
color:white;
	text-decoration: none;
}
a:hover{

	color: white;
	font-size: 25px;
font-weight:bolder;

	text-decoration: none;
	
}
p.side2{
 	position: absolute;
 	position: fixed;
 	top:200px;
 	padding: 10px;
 	border-radius: 10px;
 	background-color: red;
 	color:white;
 writing-mode: vertical-rl; 
}
p.side3{
 	position: absolute;
 	position: fixed;
 	top:300px;
 	padding: 10px;
 	border-radius: 10px;
 	background-color: red;
 	color:white;
 writing-mode: vertical-rl; 
}
.skill-image{
	display: inline-block;
	float: left;
    border-radius: 20px;
	padding: 10px;
	margin: 25px;
	max-width: 200px;
	border: 2px dotted lightgrey;


}
.skill-image > p {

	border: 1px solid red;
	text-align: center;
	word-wrap: break-word;
}
.clearfix::after{
	content: "";
	clear: both;
display: table;
}
.clearfix{

	margin: 0 0px;
	padding: 0 0px;
	border: 5px solid green;
	max-width:100%;
}
.cert-iframe{
	border:1px solid blue;
	float: left;
	display: inline-block;
	margin: 20px;
}
.cert-iframe  p {
	width: 300px;
	text-align: center;
	borde r: 5px solid green;
}
button{
	padding: 10px;
	margin: 20px;
	font-size: 16px;
	font-weight: bold;
	background-color: #1E90FF;
	color: white;
	border-radius: 16px;
}

tr,td,table,th{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
	text-align: left;
}
#t01 tr:nth-child(odd){

	background-color: pink;
}
footer{
	height: 50px;
	padding: 50px;
border: 2px dotted lightgrey;
	background-color: lightgrey;
}

