
*{
	box-sizing: border-box;
	margin:0;
	padding: 0px;
}
h1{
border: 1px solid red;
color: red;
font-size: 100px;
text-align: center;

}
div.headerimg{
	
    max-width: 100%;
    height : 600px;
	background-image: url('img/image1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px
	border: 1px solid red;

	
	-webkit-box-shadow: inset 0px -2px 85px 16px rgba(221,240,233,0.59);
    -moz-box-shadow: inset 0px -2px 85px 16px rgba(221,240,233,0.59);
     box-shadow: inset 0px -2px 85px 16px rgba(221,240,233,0.59);

 }
 div.top_strip{
 	position: sticky;
 	top:0px;
 	display: block;
 	background-color: #1E90FF;
 	height: 50px;
 	border: 1px solid black;
 }
 
 p.side1{
 	position: absolute;
 	position: fixed;
 	top:100px;
 	padding: 10px;
 	border-radius: 10px;
 	background-color: red;
 	color:white;
 writing-mode: vertical-rl; 

 

}

p.side2{
 	position: absolute;
 	position: fixed;
 	top:200px;
 	padding: 10px;
 	border-radius: 10px;
 	background-color: red;
 	color:white;
 writing-mode: vertical-rl; 

 

}


p.side3{
 	position: absolute;
 	position: fixed;
 	top:300px;
 	padding: 10px;
 	border-radius: 10px;
 	background-color: red;
 	color:white;
 writing-mode: vertical-rl; 

